{% include ('navegacion.html') %}
<br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa con Ruta a Destino y Autocompletar Direcciones</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
        #directions-panel {
            margin-top: 10px;
            background-color: #f0f0f0;
            padding: 10px;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div>
        <b>Mi Ubicación:</b>
        <input type="text" id="start" placeholder="Escribe tu ubicación">
        <button onclick="getCurrentLocation()">Usar Ubicación Actual</button>
        <br>
        <b>Destino:</b>
        <input type="text" id="end" value="{{ bar['direccion'] }}" placeholder="Escribe el destino">
        <br>
        <input type="submit" id="submit" value="Calcular Ruta">
    </div>
    <div id="map"></div>
    <div id="directions-panel"></div>
    <script>
        function initMap() {
            const directionsService = new google.maps.DirectionsService();
            const directionsRenderer = new google.maps.DirectionsRenderer();
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 6,
                center: { lat: 4.60971, lng: -74.08175 }, // Centro de Bogotá, Colombia.
            });

            directionsRenderer.setMap(map);

            const startInput = document.getElementById("start");
            const endInput = document.getElementById("end");
            
            // Configurar autocompletado para las entradas de ubicación
            const autocompleteStart = new google.maps.places.Autocomplete(startInput, {
                types: ['geocode'], // Solo permitir autocompletar direcciones
                componentRestrictions: { country: 'CO' } // Restringir a Colombia
            });
            const autocompleteEnd = new google.maps.places.Autocomplete(endInput, {
                types: ['geocode'], // Solo permitir autocompletar direcciones
                componentRestrictions: { country: 'CO' } // Restringir a Colombia
            });

            document.getElementById("submit").addEventListener("click", () => {
                calculateAndDisplayRoute(directionsService, directionsRenderer);
            });
        }

        function getCurrentLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const latitude = position.coords.latitude;
                        const longitude = position.coords.longitude;
                        const coords = { lat: latitude, lng: longitude };
                        document.getElementById("start").value = latitude + ', ' + longitude;
                    },
                    (error) => {
                        console.error("Error obteniendo la ubicación: ", error);
                        alert("Ocurrió un error obteniendo la ubicación: " + error.message);
                    },
                    {
                        enableHighAccuracy: true,
                        timeout: 10000, // Aumenta el tiempo de espera para obtener una mejor ubicación
                        maximumAge: 0
                    }
                );
            } else {
                console.warn("Geolocalización no soportada por el navegador");
                alert("Tu navegador no soporta la funcionalidad de geolocalización");
            }
        }

        function calculateAndDisplayRoute(directionsService, directionsRenderer) {
            const start = document.getElementById("start").value;
            const end = document.getElementById("end").value;
            
            directionsService
                .route({
                    origin: start,
                    destination: end,
                    travelMode: google.maps.TravelMode.DRIVING,
                })
                .then((response) => {
                    directionsRenderer.setDirections(response);
                  
                    const route = response.routes[0];
                    const summaryPanel = document.getElementById("directions-panel");
                  
                    summaryPanel.innerHTML = "";
                  
                    // Para cada segmento de la ruta, mostrar información de resumen
                    for (let i = 0; i < route.legs.length; i++) {
                        const routeSegment = i + 1;
                  
                        summaryPanel.innerHTML +=
                            "<b>Segmento de Ruta: " + routeSegment + "</b><br>";
                        summaryPanel.innerHTML += route.legs[i].start_address + " a ";
                        summaryPanel.innerHTML += route.legs[i].end_address + "<br>";
                        summaryPanel.innerHTML += route.legs[i].distance.text + "<br><br>";
                    }
                })
                .catch((e) => window.alert("Error en la solicitud de direcciones debido a " + status));
        }
        
        window.initMap = initMap;
    </script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANyd0vbBWTqmYNTgsZa3KmQrrfvOSEt_8&libraries=places&callback=initMap">
    </script>
</body>
</html>