<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación</title>
    <!-- Incluye el CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .modal-content {
            background-color: #343a40; /* Fondo oscuro */
            color: white; /* Texto blanco */
        }
        .btn-close {
            filter: invert(1); /* Invertir colores para botón de cierre */
        }
    </style>
</head>
<body>
    <div class="modal" tabindex="-1" style="display:block;" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verificación de Código</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>Hemos enviado un código de verificación a tu correo {{ email }}. Por favor verifica e introdúcelo en el campo</h2>
                    <form method="POST" action="{{ url_for('verificar') }}">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="verification_code" placeholder="Código de verificación" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Verificar</button>
                    </form>
                    {% if mensaje %}
                        <p class="mt-3">{{ mensaje }}</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <form method="GET" action="{{ url_for('reenviar_codigo') }}">
                        <button type="submit" id="resend_button" class="btn btn-secondary" disabled>Reenviar Código</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Incluye el JS de Bootstrap y sus dependencias -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        var resendButton = document.getElementById('resend_button');
        var timer = 60;
        var interval = setInterval(function() {
            if (timer > 0) {
                timer--;
                resendButton.innerHTML = 'Reenviar Código (' + timer + 's)';
            } else {
                resendButton.disabled = false;
                resendButton.innerHTML = 'Reenviar Código';
                clearInterval(interval);
            }
        }, 1000);
    </script>
</body>
</html>

