@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1200;
	margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carousel {
    height: 500px;
}


.header {
    background-image: linear-gradient(
        rgb(14, 15, 15),
        rgba(120, 157, 206)),
        url('{{ url_for("static", filename="img/fondoA.jpg") }}');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}


.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #789dce; 
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 1000;
    position: static; 
    
}

.menu .navbar ul li {
	position: relative;
	float: left;
	margin-right: 30px;
	
}

.menu .navbar ul li a {
	font-size: 18px;
	padding: relative;
	color: #FFFDFC;
	font-weight: 600;
	
}

.menu .navbar ul li a:hover{ 
	color: #1B41DA;	
}

#menu{
	display: none;
}

.menu-icono {
    width: 25px;
    position: absolute;
    top: 50%; /* Posiciona la imagen en el centro verticalmente */
    left: 50%; /* Posiciona la imagen en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra la imagen */
    z-index: 2; /* Asegura que la imagen esté encima del texto */
}

.menu label{
	cursor: pointer;
	display: none;
	
}

.header-content{
	text-align: center;
}

.header-content h1{ 
	font-size: 50px;
	line-height: 55px;
	color: #0D3CCF;	
	text-transform: uppercase;
	margin-bottom: 35px;
}

.header-content p{
	font-size: 16px;
	color: #FFFDFC;
	padding: 0.3 240px;
	margin-bottom: 25px;
}

.btn-1{
	display: inline-block;
	padding: 11px 35px;
	background-color: #9C9C9C;
	color: #010101;
	text-transform: uppercase;
}

.btn-1:hover {
	background-color: #0D3CCF;
}

.bares{
	padding: 100px 0;
	background-color: #1BB4DA;
	position: relative;
}

.bares-principal {
    display: block;
    margin: 0 auto; /* Esto centrará la imagen horizontalmente */
}


.bares h1{
	font-size: 35px;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 35px;
	text-align: center;
}


.bares-contect{
	text-align: center;
	
}

.bares-content h2 {
    font-size: 40px;
    line-height: 50px;
    color: #131313;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    text-align: center;
    background: linear-gradient(to right, #194CCA, #131313);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-p{
	font-size: 16px;
	padding: 0 250px;
	margin-bottom: 35px;
}

.bares-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.bares-1 {
    width: 30%; 
    text-align: center;
}

.bares-1 img {
    width: 200px; 
}

.btn-2 {
    display: inline-block;
    padding: 15px 40px;
    background-color: #9C9C9C;
    color: #010101;
    text-transform: uppercase;
}


.btn-2-container {
    text-align: center; 
}

.btn-2:hover {
	background-color: #DEDEDE;
}

.bares-img {
    text-align: center;
}

.footer {
    background-color: #789dce;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.social img {
    width: 30px;
    margin-right: 10px;
}

.info {
    margin-top: 20px;
}

.info p {
    margin-bottom: 10px;
}
